@model HomeView;
@{
  Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}
<div class="container">
    <div class="card w-100" style="border: none; margin: 15px 0 0 150px;">
        <div class="row">
            <div class="col-md">
                <h1 class="card-title">@Model.ProdutoDetail.Titulo</h1>
            </div>
        </div>         
         <div class="row">
            <div class="col-md-7">
                <img class="card-img-top img-thumbnail" style="width: 600px; height: 300px;" src="@(Model.ProdutoDetail.Imagem != null ? "data:image;base64," + Convert.ToBase64String(Model.ProdutoDetail.Imagem) : "../../Images/NoImage.jpg")">
            </div>      
            <div class="col-md-4">
                <h3 class="font-weight-normal">R$ @Model.ProdutoDetail.Valor</h3>
            </div>       
         </div>   
         <div class="row">
            <div class="col-md">
                <blockquote class="blockquote">
                        <p class="mb-0">@Model.ProdutoDetail.Descricao</p>
                    </blockquote>
                </div>             
            </div>
         </div>       
    </div>     
</div>