@model List<Venda>
@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Data da Compra</th>        
          <th scope="col">Produto</th>
          <th scope="col">Valor</th>
          <th scope="col">Forma de Pagamento</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var venda in Model)
        {
            <tr>
              <td>@venda.DataVenda</td>              
              <td>@venda.Produto.Titulo </td>
              <td>R$ @venda.ValorTotalVenda </td>
              <td>@(venda.FormaPagamento == 0 ? "Cartão de Crédito" : "Dinheiro")</td>
            </tr>
        }
      </tbody>
    </table>
  </div> 