@model Produto
@{
  Layout = "~/Views/Shared/LayoutEmpresa.cshtml";
}

<div class="col-md-2">  
           <div class="card">   
    
          <img class="card-img-top" src="@(Model.Imagem != null ? "data:image;base64," + Convert.ToBase64String(Model.Imagem) : "Images/NoImage.jpg")" width="50" height="50">
             
             </div>
              </div>

              <h5 class="card-title">@Model.Titulo</h5>
                  <p class="card-text">R$ @Model.Valor</p>
                
                  <button type="button" class="btn btn-success" >Comprar</button>

