@{
  Layout = "~/Views/Shared/LayoutEmpresa.cshtml";
}
<div class="container-fluid">
  <nav class="nav justify-content-end toolbar">
   <a class="btn btn-primary" href="#" role="button">Novo</a>
  </nav>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Valor</th>
          <th scope="col">Ativo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 70%">Mark</td>
          <td style="width: 10%">Mark</td>
          <td style="width: 10%">Otto</td>
          <td style="width: 7.5%"><a class="btn btn-success" href="/Produto/Save" role="button">Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>