@model List<Produto>
@{
  Layout = "~/Views/Shared/LayoutEmpresa.cshtml";
}
<div class="container-fluid">
  <nav class="nav justify-content-end toolbar">
   <a class="btn btn-primary" href="Produto/Save" role="button">Novo</a>
  </nav>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Valor</th>
          <th scope="col">Indisponível</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var produto in Model)
        {
            <tr>
              <td style="width: 70%">@produto.Titulo</td>
              <td style="width: 10%">R$ @produto.Valor</td>
              <td style="width: 10%">
                 <input type="checkbox" checked="@produto.Indisponivel" onclick="return false">
              </td>
              <td style="width: 7.5%"><a class="btn btn-success" href="/Produto/Save?id=@produto.Id" role="button">Editar</a></td>
            </tr>
        }
      </tbody>
    </table>
  </div> 
</div>