@model Produto
@{
  Layout = "~/Views/Shared/LayoutEmpresa.cshtml";
}
<div class="container">
  <form asp-controller="Produto" asp-action="Save" method="post" enctype="multipart/form-data">
        <h1>Produto</h1>
        <input type="hidden" asp-for="Id" />
        <div class="form-row">
            <div class="form-group col-md-2">
                 <img class="card-img-top img-thumbnail" id="visualizer" style="width: 300px; height: 150px;" src="@(Model.Imagem != null ? "data:image;base64," + Convert.ToBase64String(Model.Imagem) : "../../Images/NoImage.jpg")">
                 <input type="hidden" asp-for="Imagem" />
            </div>
            <div class="form-group col-md-4 rowImg">
                <label for="imagem">Imagem</label>
                <input type="file" name="files" class="form-control-file" id="imagem" onchange="getBase64(this)">
            </div>
            <div class="form-group col-md-2 rowImg">
                <label for="valor">Valor</label>
                <input type="text" class="form-control" id="valor" asp-for="Valor" >
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>     
            <div class="form-group col-md-2 checkboxMargin rowImg">
                <label>Indisponível</label>
                <br />
                <input class="form-check-input checkboxPosition" type="checkbox" value="true" id="indisponivel" asp-for="Indisponivel">
            </div>
        </div>
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" asp-for="Titulo">
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" rows="8" style="resize: none" asp-for="Descricao"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>

<script>
    function getBase64(data) {
        var file = data.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          document.getElementById("visualizer").src = reader.result;
        };
        reader.onerror = function (error) {
            document.getElementById("visualizer").src = "../../Images/NoImage.jpg";
        };
    }
</script>

<style>
    .rowImg {
        margin-top: 80px;
    }
</style>