@model Usuario
@{
  Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}


<form asp-asp-controller="Usuario" asp-action="login" method="POST">

    <div class="form-group"></div>
        <label for="">E-mail</label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>

     <div class="form-group"></div>
        <label for="">Senha</label>
        <input class="form-control" asp-for="Senha">
        <span asp-validation-for="Senha"></span>
    </div>   

    <button class="btn btn-primary">Entrar</button>
    <a href="/Usuario/Create/">Nova Conta</a>
</form>