@model List<Funcionario>
@{
  Layout = "~/Views/Shared/LayoutEmpresa.cshtml";
}

<table class="table table-striped">
<thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">E-mail</th>
    <th scope="col">Ativo</th>
    <th scope="col">Principal</th>
  </tr>
</thead>
<tbody>
  @foreach(var func in Model)
  {
  <tr>
    <td>@func.Nome</td>
    <td>@func.Email</td>
    <td>@func.Ativo</td>
    <td>@func.Principal</td>
    <td>
        <a href="/funcionario/delete/@func.Id" class="btn-sm btn-danger">Apagar</a>
        <a href="/funcionario/update/@func.Id" class="btn-sm btn-success">Editar</a>
    </td>    
  </tr>  
  }

</tbody>
</table>

<a class="btn btn-primary" href="/Funcionario/Create">Novo</a>